<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.domain.entity.Manager">
    <!--@mbg.generated-->
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="m_name" jdbcType="VARCHAR" property="mName" />
    <result column="m_tel" jdbcType="VARCHAR" property="mTel" />
    <result column="m_pwd" jdbcType="VARCHAR" property="mPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    m_id, m_name, m_tel, m_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from manager
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from manager
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="m_id" keyProperty="mId" parameterType="com.example.demo.domain.entity.Manager" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into manager (m_name, m_tel, m_pwd
      )
    values (#{mName,jdbcType=VARCHAR}, #{mTel,jdbcType=VARCHAR}, #{mPwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="m_id" keyProperty="mId" parameterType="com.example.demo.domain.entity.Manager" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mName != null">
        m_name,
      </if>
      <if test="mTel != null">
        m_tel,
      </if>
      <if test="mPwd != null">
        m_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mName != null">
        #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mTel != null">
        #{mTel,jdbcType=VARCHAR},
      </if>
      <if test="mPwd != null">
        #{mPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domain.entity.Manager">
    <!--@mbg.generated-->
    update manager
    <set>
      <if test="mName != null">
        m_name = #{mName,jdbcType=VARCHAR},
      </if>
      <if test="mTel != null">
        m_tel = #{mTel,jdbcType=VARCHAR},
      </if>
      <if test="mPwd != null">
        m_pwd = #{mPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domain.entity.Manager">
    <!--@mbg.generated-->
    update manager
    set m_name = #{mName,jdbcType=VARCHAR},
      m_tel = #{mTel,jdbcType=VARCHAR},
      m_pwd = #{mPwd,jdbcType=VARCHAR}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
    <select id="selectByUsername" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
   from manager
   where 1=1
   <if test="manager.MName!=null"> and m_name=#{manager.MName}</if>
   <if test="manager.MPwd!=null"> and mm_pwd=#{manager.MPwd}</if>
    </select>
</mapper>